/* Technical Parameters */
$screen-ti: 280px; /* Smallest Mobile | Galaxy Fold   - Tiny */
$screen-xs: 380px; /* Large Mobile                    - Extra Small */
$screen-sm: 576px; /* Mobile                          - Small */
$screen-md: 768px; /* Tablet                          - Medium */
$screen-lg: 992px; /* Tablet                          - Large */
$screen-xl: 1200px; /* Tablet / Small Desktop         - Extra Large */
$screen-hg: 1520px; /* Medium Desktop                 - Huge */
$screen-ms: 1920px; /* Regular Desktop 1080p / HD     - Super Massive */
$screen-smm: 2560px; /* Large Desktop                 - Super Massive Massive */
$screen-smbh: 3840px; /* 4k  */

$default-screen-width: 100%; /* Set the default screen width */

/* ********* Define Site Scale *********/
$ss: 0.6;

/* ********* Define Site Scale *********/
$fs: 0.7;

/* ********* Define Site Scale *********/
$is: 0.8;

$site-width-margin: 115; /* Desktop Left / Right Gutter */
$t-site-width-margin: 56; /* Desktop Left / Right Gutter */
$m-site-width-margin: 23; /* Mobile Left / Right Gutter */

@mixin xs-up {
  @media (min-width: #{$screen-xs + 1}) {
    @content;
  }
}

@mixin sm-up {
  @media (min-width: #{$screen-sm  + 1}) {
    @content;
  }
}

@mixin md-up {
  @media (min-width: #{$screen-md  + 1}) {
    @content;
  }
}

@mixin lg-up {
  @media (min-width: #{$screen-lg  + 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-lg  + 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-sm  + 1}) and (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$screen-sm  + 1}) {
    @content;
  }
}

@mixin xl-up {
  @media (min-width: #{$screen-xl  + 1}) {
    @content;
  }
}

@mixin hg-up {
  @media (min-width: #{$screen-hg  + 1}) {
    @content;
  }
}

@mixin ms-up {
  @media (min-width: #{$screen-ms  + 1}) {
    @content;
  }
}

@mixin xs-down {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm-down {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md-down {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg-down {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl-down {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin hg-down {
  @media (max-width: #{$screen-hg}) {
    @content;
  }
}

@mixin ms-down {
  @media (max-width: #{$screen-ms}) {
    @content;
  }
}

@include xs-down() {
  .xs-hide-down {
    display: none !important;
  }
}

@include sm-down() {
  .sm-hide-down {
    display: none !important;
  }
}

@include md-down() {
  html body .md-hide-down {
    display: none !important;
  }
}

@include lg-down() {
  .lg-hide-down {
    display: none !important;
  }
}

@include xl-down() {
  .xl-hide-down {
    display: none !important;
  }
}

@include xs-down() {
  .xs-hide-up {
    display: none !important;
  }
}

@include sm-up() {
  .sm-hide-up {
    display: none !important;
  }
}

@include md-up() {
  html body .md-hide-up {
    display: none !important;
  }
}

@include lg-up() {
  .lg-hide-up {
    display: none !important;
  }
}

@include xl-up() {
  .xl-hide-up {
    display: none !important;
  }
}

@include lg-down() {
  @include sm-up() {
    .tablet-hide {
      display: none !important;
    }
  }
}
