.poke-compare {
  .stat,
  .statistic-icon {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .stat-maintain {
    color: green;
  }

  .stat-increase {
    color: white;
  }

  .stat-decrease {
  }
}
