.poke-item a {
  display: block;
  text-transform: capitalize;
  padding: 20px;
  background-color: #fd6648;
  margin-bottom: 10px;
  border-radius: 20px;
  color: var(--app-white);
  z-index: 0;

  &:hover {
    background-color: #f9d6a7;
    color: #fd960e;
  }
}
